@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
font-family: 'Oswald', sans-serif;
background: #fff;
}

h1{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

header{
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    min-width: 1920px;
    margin:-5px;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #ffffff;
}

.navbar li{
    display: inline;
    margin-left: 50px;
    font-size: 24px;
    padding: 20px;
}

input[type=text] {
  background-color: white;
  background-repeat: no-repeat;
  border: 3px solid rgba(60, 60, 60, 0.5);
  font-size: 24px;
  margin:35px;
  padding-left: 40px;
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 250px;
  border: 3px solid #555;
}

.title-block{
 width: auto;
 height: 500px;
font-family: 'Oswald', sans-serif;
background-size: 100%;
background: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80) no-repeat center center / cover;
padding-top: 150px;
color: #fff;
padding-left: 50px;
font-size: 100px;
}

#main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-height: 500px;
    width: auto; 
}

.info{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    font-size: 30px;
    padding-top: 50px;
}

#skills{
    margin-left: 300px;
    width: 80%;
}

.html{
    width: 80%;
    margin-bottom: 80px;
}

.size {
    font-size: 40px;
}

.css {
    width: 80%;
    margin-bottom: 80px;
}

.js {
    width: 80%;
    margin-bottom: 80px;
}

.icons{
    margin-left: 1400px;
}

.fa{
    margin-right: 50px;
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    border-radius: 20%;
}
