@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Redressed&display=swap');

* {
margin: 0;
padding: 0;
outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

body {
   background-color: #fafafa;
   font-family: 'Trebuchet MS', 'Helvetica';
}

/* site header */

header {
    width: 100%;
    padding: 10px 0.5% 0px 0,5%;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Redressed', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.5em;
    }
    #about {
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {color: #fff;}

#about > a:hover {
    color: #b0b0b0;
    text-decoration: underline;
}

#about > a:not(:last-child) {
    margin-right: 7%;
}

/* styles for a fixed site header */

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;
}

.fixed #about a {
    color: #343434;
}

.fixed #about a:hover {
    color: #7c7c7c;
}

/* the main block on the site */

#top {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
    background-blend-mode: multiply;
    background-color: #1c347c;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        padding-top: 50%;
        height: 500px;
    }
}

#top h1 {
    padding-top: 20%;
}

#top h3 {
    color: #ccc;
}

/* block of possibilities */

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}

@media (min-width: 1401px) {
    #main{
        padding: 100px 20%;
        width: 60%;
    }
}

@media (max-width: 1400px) {
    #main{
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #main div{
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#main div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#main h2 {
    font-size: 3em;
}

#main span{
    color: #a0a0a0;
}

/*skill block*/

#skills {
    float: left;
    background-image: url(https://lh3.googleusercontent.com/N0T5lJVl2P0A5yF2NfSPcrEPDV4EJ77GDIKR61J5AR6ZoTBqI6Cn4_kAcER3kEsW1MHMDkImBWa0a8P4n_915t8tgg=w640-h400-e365-rj-sc0x00ffffff);
    background-blend-mode: multiply;
    background-color: #0d200e;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#skills h2 {
    font-size: 4em;
}

#skills span{
    color: #ccc;
    font-size: 1.5em;
}

#skills .image {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
}

#skills .image:nth-child(odd) {
    margin-left: 18%;
}

#skills img {
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 500px;
}

#skills span {
    float: left;
    width: 100%;
    font-size: 2em;
}
#skills .image {
        float: left;
        width: 30%;
        margin-right: 5%;
        margin-top: 50px;
}
    
    #skills .image:nth-child(odd) {
        margin-left: 18%;
    }
    
    #skills img {
        background: #fafafa;
        padding: 5px;
        border: 2px solid silver;
        float: left;
        width: 100%;
        max-width: 500px;
    }
    
    #skills span {
        float: left;
        width: 100%;
        font-size: 2em;
        margin-top: 10px;
    }
    
    @media (max-width: 700px) {
        #skills .image {
            width: 80%!important;
            margin-right: 0!important;
            margin-left: 10%!important;
        }
    }
    
    /*contact block*/
    
    #contact {
        width: 100%;
        float: left;
    
    
    }
    
    footer { 
        background-color: #343434; 
        height: auto; 
        width: 100vw; 
        font-family: 'Trebuchet MS', 'Helvetica'; 
        padding-top: 40px; 
        color: aliceblue; 
    } 
    .footer-contacts { 
        align-items: center; 
        justify-content: center; 
        text-align: center; 
    } 
    .footer-contacts h3 { 
        font-size: 1.5em; 
        font-weight: 400; 
        text-transform: capitalize; 
        line-height: 3em; 
    } 
    .footer-contacts p { 
        max-width: 600px; 
        margin: 10px auto; 
        line-height: 28px; 
        font-size: 1em; 
    } 
    .footer-contacts a { 
        font-size: 1.5em; 
        margin: 0.3em 0.5em 2.5em; 
        text-decoration: none; 
        transform: color .4s ease; 
        color: aliceblue; 
    } 
    .footer-contacts a:hover { 
        color: #484848; 
    } 
    .footer-bottom { 
        background-color: #28292b; 
        font-size: 0.7em; 
        width: 100vw; 
        padding: 10px 0; 
        text-transform: capitalize; 
        text-align: center; 
    }